<%= form_for @user, :html => { :class => 'form-horizontal' } do |f| %>  
    <div style ="float:left;margin-right:20px;">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div style ="float:left;">
      <%= f.label :f_name %>
      <%= f.text_field :f_name %>
    </div>

    <div style="clear:both;"></div>
    <div style ="float:left;margin-right:20px;">
      <%= f.label :gender %>
      <%= f.text_field :gender %>
    </div>

    <div style ="float:left;">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>

    <div style="clear:both;"></div>
    <div style ="float:left;margin-right:20px;">
      <%= f.label :city %>
      <%= f.select :city, options_for_select(User.city), {:include_blank => 'Please Select'} %>
    </div>

    <div style ="float:left;">
      <%= f.label :state %>
      <%= f.select :state, options_for_select(User.state), {:include_blank => 'Please Select'} %>
    </div>

    <div style="clear:both;"></div>
    <div style ="float:left;margin-right:20px;">
      <%= f.label :phone %>
      <%= f.text_field :phone %>
    </div>

    <div style ="float:left;margin-right:-45px;">
      <%= f.label :upload_photo %>
      <%= f.file_field :avatar %>
    </div> 

    <div style="clear:both;"></div>
  <div style ="float:left;margin-bottom:50px;">
    <%= f.button "Create Member" %>
    <%= link_to button_tag('cancel', nil), users_path, :class => 'btn' %>
  </div>
<% end %>

<style type="text/css">
  #user_avatar {
    border: none;
  }
</style>
