<div style="border:1px solid #d6d6d6;margin-top:10px;">
  <div style="">
        <div style="background-color:#BE0C0C; padding:9px 3px 0px 15px;">
      <form class="standard-form basic-information" method="post" action="./Matrimonial Services   Lakherasamaj_files/Matrimonial Services   Lakherasamaj.html" enctype="multipart/form-data"> 
      <!--<input type="hidden" name="page" value=""  />-->
        <input type="text" name="sname" value="Enter Name" style="width:85px; padding:3px 0px 3px 3px; " onfocus="if(this.value==&#39;Enter Name&#39;)this.value=&#39;&#39;;" onblur="if(this.value==&#39;&#39;)this.value=&#39;Enter Name&#39;;">&nbsp;&nbsp;
        
         <select name="sgender" style="width:104px;">
        <option value="">Looking for</option>
        <option value="Female" selected="selected">Bride </option>
        <option value="Male">Groom</option>
        </select>&nbsp;&nbsp;
                      <select name="sgotra" style="width:112px;">
        <option value="">Select Gotra</option>
                <option value="Badela">Badela</option>
                <option value="Badwar">Badwar</option>
                <option value="Bagadi">Bagadi</option>
                <option value="Baksariya">Baksariya</option>
                <option value="Bhagat">Bhagat</option>
                <option value="Bhardwaj">Bhardwaj</option>
                <option value="Bhati">Bhati</option>
                <option value="Bilha">Bilha</option>
                <option value="Chandan Choli">Chandan choli</option>
                <option value="Chandel">Chandel</option>
                <option value="Chandra Vanshi">Chandra vanshi</option>
                <option value="Chandrma">Chandrma</option>
                <option value="Chodhariya">Chodhariya</option>
                <option value="Chouhan">Chouhan</option>
                <option value="Devda">Devda</option>
                <option value="Dhalyiya">Dhalyiya</option>
                <option value="Dod">Dod</option>
                <option value="Dubariya                 g">Dubariya                 g</option>
                <option value="Gaharwal">Gaharwal</option>
                <option value="Gavaliyor Khambh">Gavaliyor khambh</option>
                <option value="God">God</option>
                <option value="Gudalya">Gudalya</option>
                <option value="Handa">Handa</option>
                <option value="Hanumanta">Hanumanta</option>
                <option value="Hatadiya">Hatadiya</option>
                <option value="Himmatpuri">Himmatpuri</option>
                <option value="Jaisangpura">Jaisangpura</option>
                <option value="Jaylok">Jaylok</option>
                <option value="Jhilmiliya">Jhilmiliya</option>
                <option value="Jogela">Jogela</option>
                <option value="Kamdhaj">Kamdhaj</option>
                <option value="Karediya">Karediya</option>
                <option value="Kashyap">Kashyap</option>
                <option value="Kethuniya">Kethuniya</option>
                <option value="Khanderao">Khanderao</option>
                <option value="Khinchi">Khinchi</option>
                <option value="Mahatele">Mahatele</option>
                <option value="Mahobia">Mahobia</option>
                <option value="Makwana">Makwana</option>
                <option value="Mandaretya">Mandaretya</option>
                <option value="Mandariya">Mandariya</option>
                <option value="Mandhata">Mandhata</option>
                <option value="Motiya">Motiya</option>
                <option value="Mudree">Mudree</option>
                <option value="Nagoriya">Nagoriya</option>
                <option value="Nainvaya">Nainvaya</option>
                <option value="Nalwariya">Nalwariya</option>
                <option value="Narwaan">Narwaan</option>
                <option value="Panihar">Panihar</option>
                <option value="Panwar">Panwar</option>
                <option value="Parihar">Parihar</option>
                <option value="Rathod">Rathod</option>
                <option value="Ratnela">Ratnela</option>
                <option value="Sambhariya">Sambhariya</option>
                <option value="Sarangpura">Sarangpura</option>
                <option value="Shandilya">Shandilya</option>
                <option value="Solanki">Solanki</option>
                <option value="Songra">Songra</option>
                <option value="Tahariya">Tahariya</option>
                <option value="Tentwal">Tentwal</option>
                <option value="Tilgatiya">Tilgatiya</option>
                <option value="Vadhys">Vadhys</option>
                <option value="Vashist">Vashist</option>
                <option value="Vyas">Vyas</option>
                </select>&nbsp;&nbsp;
                        <select name="sdistt" style="width:101px;">
        <option value="">Select City</option>
                <option value="BANSWARA">Banswara</option>
                <option value="BARMER">Barmer</option>
                <option value="Bathinda">Bathinda</option>
                <option value="Bharatpur">Bharatpur</option>
                <option value="Bhilwara">Bhilwara</option>
                <option value="bhiwani">Bhiwani</option>
                <option value="chhatarpur">Chhatarpur</option>
                <option value="Dausa">Dausa</option>
                <option value="FATEHABAD">Fatehabad</option>
                <option value="Guna">Guna</option>
                <option value="hamirpur">Hamirpur</option>
                <option value="HANUMANGARH">Hanumangarh</option>
                <option value="HISAR">Hisar</option>
                <option value="Hoshangabad">Hoshangabad</option>
                <option value="indore">Indore</option>
                <option value="jabalpur">Jabalpur</option>
                <option value="jaipur">Jaipur</option>
                <option value="JODHPUR">Jodhpur</option>
                <option value="karuli">Karuli</option>
                <option value="KATNI">Katni</option>
                <option value="KOTA">Kota</option>
                <option value="MANDSAUR">Mandsaur</option>
                <option value="NAGAUR">Nagaur</option>
                <option value="Noida">Noida</option>
                <option value="pali">Pali</option>
                <option value="pali marwar">Pali marwar</option>
                <option value="Pune">Pune</option>
                <option value="Raipur">Raipur</option>
                <option value="Raisen">Raisen</option>
                <option value="RATLAM">Ratlam</option>
                <option value="Rewa">Rewa</option>
                <option value="Rohtak">Rohtak</option>
                <option value="sagar">Sagar</option>
                <option value="satna">Satna</option>
                <option value="SHAHDOL">Shahdol</option>
                <option value="sirsa">Sirsa</option>
                <option value="SOUTH">South</option>
                <option value="surat">Surat</option>
                <option value="thane">Thane</option>
                <option value="Tonk">Tonk</option>
                <option value="Udaipur">Udaipur</option>
                <option value="Vaishali">Vaishali</option>
                </select>&nbsp;&nbsp;
                
              <select name="sstate" style="width:109px;">
        <option value="">Select State</option>
                <option value="Bihar">Bihar</option>
                <option value="Chhattisgarh">Chhattisgarh</option>
                <option value="Delhi">Delhi</option>
                <option value="Gujarat">Gujarat</option>
                <option value="Haryana">Haryana</option>
                <option value="Madya Pradesh">Madya pradesh</option>
                <option value="Maharashtra">Maharashtra</option>
                <option value="Punjab">Punjab</option>
                <option value="Rajasthan">Rajasthan</option>
                <option value="Uttar Pradesh">Uttar pradesh</option>
                </select>&nbsp;&nbsp;
                
        <input type="submit" value="Search">
       </form>
        </div>
        </div>
</div>
<% @users.each do |user| %>
  <div style="border:1px solid #d6d6d6;width:750px; padding-left:5px; font-size:13px;border-top: none;">
    <div style="float:left; text-align:center; width:155px; padding:10px;">
      <%= image_tag(user.avatar(:medium), :width=>"150", :height=>"150") %><br>
    </div>
    <div style="float:left; padding: 10px; width:495px;">
      <div>
        <%= link_to "<b>#{user.name.titleize}</b>".html_safe, user_path(user), :style => 'font-size: 15px;' %>
      </div>
      <table>
        <tr><td>Email :</td><td style="text-transform: none;"><%= user.email %> </td></tr>
        <tr>
          <td>Date of Birth :</td><td><%= user.dob.strftime('%d-%m-%Y') %></td>
          <td>Gender :</td><td><%= user.gender %></td>
        </tr>
        <tr><td>Gotra :</td><td><%= user.gotra %></td><td>Marital status :</td><td><%= user.marital_status %></td></tr>
        <tr>
          <td>Address :</td><td><%= user.address%></td>
          <td>City :</td><td><%= user.city %></td>
        </tr>
        <tr>
          <td>Designation</td><td><%= user.designation %></td>
          <td>Phone No. :</td><td><%= user.phone %></td>
        </tr>
      </table>              
    </div>
  <div style="clear:both;"></div>
</div>
<% end %>
<div style="margin-bottom: 10px;"></div>

<style type="text/css">
  td:nth-child(odd) {padding-right: 6px;color: brown;}
  td:nth-child(2) {width: 220px;}
  td {font-size: 14px;text-transform: capitalize; vertical-align: top;}
</style>