<div style="border:1px solid #d6d6d6;margin-top:10px;">
  <div style="background-color:#BE0C0C; padding:9px 3px 0px 15px;" id="matrimony">
    <%= search_form_for @search, url: "/users/matrimony_list" do |f| %>
      <%= f.select :gender_eq, options_for_select([["Bride", "Female"],["Groom", "Male"]],  selected: @search.gender_eq), {include_blank: "Looking For"} %>
      <%= f.select :gotra_cont, options_for_select(Gotra.pluck(:name).sort, selected: @search.gotra_cont), {include_blank: "Select Gotra"} %>
      <%= f.select :state_cont, options_for_select($state.sort, selected: @search.state_cont),{include_blank: "Select State"}, class: "state_class" %>
      <%= f.select :city_cont, options_for_select(City.pluck('name').sort,  selected: @search.city_cont), {include_blank: "Select City"}, class: "user_city" %>
      <%= button_tag 'Search', style: 'padding: 2px 7px;margin-top: -10px;' %>
     <% end %>
  </div>
</div>
<% if @users.present? %>
  <%= render 'index' %>
  <div style="width: 100%">
    <span style="text-align: left; padding-bottom: 8px; font-size: 14px;width: 20%;float:left">
      Total <%= @total %> results
    </span>
    <span style="text-align: right; float:left;padding-bottom: 8px; font-size: 14px;width: 80%;">
      <%= paginate @users %>
    </span>
  </div>
<% else %>
  <div style="color: black;font-size: 18px;text-align:center;padding: 10px;"> Sorry, No data available</div>
<% end %>
<style type="text/css">
	#matrimony select{ width: 150px;}
</style>