<div style="width:750px; padding: 10px 5px; font-size:13px;">
    <div style="float:left; text-align:center; width:155px; padding:10px;">
      <%= image_tag(@user.avatar(:medium), :width=>"150", :height=>"150") %><br>
      <%= link_to 'View Photo', @user.avatar.url, :target => 'blank' %>
    </div>
    <div style="float:left; padding: 10px;">
      <div>
        <%= link_to "<b>#{@user.name.titleize}</b>".html_safe, "javascript:void(0)", :style => 'font-size: 15px;' %>
        <% if current_user == @user %>
          <div style="float:right">
            <%= link_to "Edit Profile", edit_user_path(@user), :style => 'font-size: 15px;' %> |
            <%= link_to "Change Password", edit_user_path(@user, "password" => "true"), :style => 'font-size: 15px;' %> 
          </div>
        <% end %>

      </div>
      <table>
        <tr><td>Email </td><td>:</td><td style="text-transform: none;"><%= @user.email %> </td></tr>
        <tr><td>Username </td><td>:</td><td><%= @user.username %></td></tr>
        <tr>
          <% if @user.gender == 'Female' && @user.marital_status == 'Married' %>
            <td> Husband Name</td>
          <% else %>
            <td>Father Name </td>
          <% end %>
          <td>:</td>
          <td><%= @user.f_name %></td></tr>
        <tr><td>Phone No. </td><td>:</td><td><%= @user.phone %></td></tr>
        <tr><td>Date of Birth </td><td>:</td><td><%= @user.dob.try(:strftime,'%d-%m-%Y') %></td></tr>
        <tr><td>Gender </td><td>:</td><td><%= @user.gender %></td></tr>
        <tr><td>Gotra </td><td>:</td><td><%= @user.gotra %></td></tr>
        <tr><td>Marital status </td><td>:</td><td><%= @user.marital_status %></td></tr>
        <tr><td>Qualification </td><td>:</td><td><%= @user.qualification %></td></tr>
        <tr><td>Designation</td><td>:</td><td><%= @user.designation %></td></tr>
        <tr><td>Address </td><td>:</td><td><%= @user.address%></td></tr>
        <tr><td>City </td><td>:</td><td><%= @user.city %></td></tr>
        <tr><td>State </td><td>:</td><td><%= @user.state %></td></tr>
      </table>              
    </div>
  <div style="clear:both;"></div>
</div>
<style type="text/css">
  td {font-size: 14px;text-transform: capitalize; vertical-align: top;padding: 5px;}
  td:nth-child(1) {width: 125px;color: brown;}
  td:nth-child(2) {width: 5px;color: brown;padding-right: 20px;}
  td:nth-child(3) {width: 370px;}
</style>