<form runat="server">
  <div class="full">
    <div class="TabbedPanelsContent TabbedPanelsTab"><b>Ablys Technical Team</b></div>
    <div>
      <% @users.each_with_index do |user, i| %>
        <div class="profile-box <%= "right-space" if ((i % 2) == 0) %>">
          <div class="box1">
            <div style="float:left">
                <p><%= user.role %></p>
              <div style="float:left;">
                <%= link_to image_tag(user.avatar(:thumb), :width=>"150", :height=>"150"), user_path(user) %>
              </div>
              <div class="info">
                <h3><%= link_to user.name.titleize, user_path(user), :style => "color:white" %></h3>
                <h4>Address: <%= user.address %></h4>
                <h4><%= "#{user.city}, #{user.state}" %></h4>
                <h4>Mobile : <%= user.phone %></h4>
              </div>
            </div>
            <div style="font-size: 13px;">
              <h4>Email : <%= user.email %></h4>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</form>
