<%= nested_form_for(@event, :html => { :class => 'event_form' }) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">(Type in Hindi. Press Ctrl+g to toggle between English and Hindi)</div>
  <div style="clear:both;margin-top:10px;"></div>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, class: "validate[required]", id: "text_field" %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, cols: 20, rows: 5, class: "validate[required]", id: "text_area" %>
  </div>
  <div class="field">
    <%= f.label :start_date %>
    <%= f.date_select :start_date, class: "validate[required]" %>
  </div>
  <div class="field">
    <%= f.label :upload_your_photo%>
    <%= f.fields_for :images do |obj| %>
      <%= obj.file_field :avatar %>
    <% end %>
    <p><%= f.link_to_add "Add more image", :images %></p>
  </div>
  <br/>
  <div style ="float:left;margin-bottom:50px;">
    <%= f.button "Create Event" %>
    <%= link_to button_tag('cancel', type: "button"), events_path %>
  </div>
   <div style="clear:both;"></div>
<% end %>
<style type="text/css">
  select {width: 100px;}
  input[type='text'], textarea {width: 98%;}
</style>

<script type="text/javascript">
  $(document).ready(function(){
    $(".event_form").validationEngine({promptPosition : "bottomLeft"});
   });
</script>
