<div style="border:1px solid #d6d6d6;margin-top:10px;">
  <div style="background-color:#BE0C0C; padding:9px 3px 0px 15px;">
    <p style="font-size: 18px;color: white;padding-bottom:10px;"><%= link_to "Click here",new_event_path(), style: "color: rgb(204, 204, 204);font-style: italic;" %> to add your new event or news of our samaj.</p>
  </div>
</div>
<div style="padding: 10px;">
  <% @events.each_with_index do |event, index| %>
    <table>
      <tbody>
        <tr style="font-size: 14px;">
          <td style="vertical-align: top;"><%= index + 1 %>.</td>
          <td>
            <div><%= link_to event.title.capitalize, event %></div>
            <div style="text-align:justify">
              <span style="width:50px;"><%= event.start_date %> | </span><%= event.description.truncate(250) %>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  <% end %>
</div>
