<div id="header">
  <div class="logo-part">
      <div class="logo">
        <a href="http://ablys.esatelcode.com/index.aspx">
          <img src="/assets/logo.png" width="137" height="137" alt=""></a>
      </div>
      <div class="search-part">
        <%= image_tag('banner.png') %>
      </div>
  </div>
</div>
<div id="slide">
  <div id="leftslide">
    <div class="menu-part">
      <div class="menu">
        <div class="menu-inner">
          <ul id="main_menu">
            <li><a href="/">Home</a></li>
            <li><a href="#">About Us</a>
              <ul>
                <li><a href="/about_samaj">About Samaj</a></li>
                <li><a href="/about_bhajneri">About Bhajneri</a></li>
              </ul>
            </li>
            <li><a href="#">Members</a>
             <ul>
                <li><%= link_to 'All Members', users_path %></li>
                <li><%= link_to 'NCC Members', ncc_members_users_path %></li>
              </ul>
            </li>
            <li><a href="#">Gallery</a>
            </li>
            <li><a href="/users/matrimony_list">Matrimony</a>
            </li>
            <li style="float:right;text-align:center;">
              <% if user_signed_in? %>
                <%= link_to "#{current_user.name}", '#' %>
                 <ul>
                    <li><%= link_to 'My Profile', user_path(current_user) %></li>
                    <li><%= link_to 'Log Out', destroy_user_session_path, :method => :delete %></li>
                  </ul>
              <% else %>
                <%= link_to 'Register', new_user_registration_path %> |
                <%= link_to 'Log In','#', "data-toggle"=>"modal", "data-target"=>"#sign_in" %>
              <% end %>
            </li> 
          </ul>
        </div>
      </div>
    </div>
    <div class="banner-part">
      <div id="outerslider">
        <div class="  container">
          <div id="slidercontainer" class="twelve columns">
            <section id="slider">
            	<div class="line-op"></div>
              <div id="layerslider" class="slideritems ls-container ls-smartgroup" style="position: relative;">
              	<div class="ls-inner" style="width: 1011px; height: 260px; background-color: transparent;">
                  <div class="ls-layer ls-active" id="ls-layer-1" data-rel="slidedelay: 3000;" style="visibility: visible; width: 0px; height: 260px; display: none; left: 0px; right: auto; top: 0px; bottom: auto;">
                      <img class="ls-bg" src="/assets/bajneri0.jpg" alt="layer" style="margin-left: -505.5px; margin-top: -130px;"></div>
                  <div class="ls-layer" id="ls-layer-2" data-rel="slidedelay: 3000;" style="width: 0px; height: 260px; display: none; visibility: visible; left: 0px; right: auto; top: 0px; bottom: auto;">  
                      <img class="ls-bg" src="/assets/mumbai0.jpg" alt="layer" style="margin-left: -505.5px; margin-top: -130px;">
                  </div>
                  <div class="ls-layer" id="ls-layer-3" data-rel="slidedelay: 3000;" style="width: 1011px; height: 260px; display: none; visibility: visible; left: auto; right: 0px; top: 0px; bottom: auto;">
                      <img class="ls-bg" src="/assets/udaipur0.jpg" alt="layer" style="margin-left: -505.5px; margin-top: -130px;">
                  </div>
                  <div class="ls-layer" id="ls-layer-4" data-rel="slidedelay: 3000;" style="width: 0px; height: 260px; display: none; visibility: visible; left: 0px; right: auto; top: 0px; bottom: auto;">
                      <img class="ls-bg" src="/assets/hariwar01.jpg" alt="layer" style="margin-left: -505.5px; margin-top: -130px;">
                  </div>
                  <div class="ls-layer" id="ls-layer-5" data-rel="slidedelay: 3000;" style="width: 0px; height: 260px; display: none; visibility: visible; left: 0px; right: auto; top: 0px; bottom: auto;">    
                      <img class="ls-bg" src="/assets/hariwar02.jpg" alt="layer" style="margin-left: -505.5px; margin-top: -130px;">
                  </div>
                  <!-- <div class="ls-layer" id="ls-layer-6" data-rel="slidedelay: 3000;" style="width: 0px; height: 260px; display: none; visibility: visible; left: 0px; right: auto; top: 0px; bottom: auto;">    
                      <img class="ls-bg" src="/assets/mumbai0.jpg" alt="layer" style="margin-left: -505.5px; margin-top: -130px;">
                  </div> -->
                </div>
              <a class="ls-nav-prev" href="#"></a><a class="ls-nav-next" href="#"></a><div class="ls-bottom-nav-wrapper"><a class="ls-nav-start" href="#"></a><span class="ls-bottom-slidebuttons"><a href="#" class=""></a><a href="#" class=""></a><a href="#" class="ls-nav-active"></a><a href="#" class=""></a><a href="#" class=""></a><a href="#" class=""></a><a href="#" class=""></a><a href="#" class=""></a></span><a class="ls-nav-stop" href="#"></a></div></div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>

<div class="modal fade" id="sign_in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Sign In</h4>
      </div>
        <%= render :template => '/devise/sessions/new'%>
    </div>
  </div>
</div>

<div class="modal fade" id="sign_up" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Sign Up</h4>
      </div>
        <%= render :template => '/devise/registrations/new'%>
    </div>
  </div>
</div>

<style type="text/css">
  #sign_in .modal-dialog{
    width: 470px;
  }
</style>