<div class="rightnews">
	<%= search_form_for User.search, url: "/users/matrimony_list" do |f| %>
	  <div class="boxheading boxborder boxfont1">
	    <h1>Search Bride/Groom</h1>
	  </div>
	  <div class="boxcotent">
	      <table class="tabmargin">
	          <tbody><tr>
	              <td>
	                  Looking For:
	              </td>
	          </tr>
	          <tr>
	              <td>
	                  <%= f.select :gender_eq, options_for_select([["Bride", "Female"],["Groom", "Male"]],  selected: f.object.gender_eq), {include_blank: "Select Option"} %>
	              </td>
	          </tr>
	          <tr>
	              <td>
	                  Gotra:
	              </td>
	          </tr>
	          <tr>
	              <td>
	                  <%= f.select :gotra_cont, options_for_select($gotra.sort, selected: f.object.gotra_cont), {include_blank: "Select Gotra"} %>
	              </td>
	          </tr>
	          <tr>
	              <td>
	                  Select State:
	              </td>
	          </tr>
	          <tr>
	              <td>
	              <%= f.select :state_cont, options_for_select($state.sort, selected: f.object.state_cont),{include_blank: "Select State"}, class: "state_class" %>
	              </td>
	          </tr>
	           <tr>
	              <td>
	              	Select City:
	              </td>
	          </tr>
	           <tr>
	              <td>
	                  <%= f.select :city_cont, options_for_select(City.pluck('name').sort,  selected: f.object.city_cont), {include_blank: "Select City"}, class: "user_city" %>
	              </td>
	          </tr>
	          <tr>
	              <td>
	                  <input type="submit" value="Search" style="width:100%;">
	              </td>
	          </tr>
	      </tbody></table> 
	  </div>
	  <div class="boxcotent topmargin" style="border-top: solid 2px #000000;">
	      <img src="/assets/img_Photo_Gallery.jpg" width="196" height="180" alt="Photo">
	  </div>
	  <div class="boxcotent topmargin boxborder">
	      <p class="boxfont">Visitor</p>
	  </div>
	<% end %>
</div>