<!DOCTYPE html>
<html>
<head>
  <title>Ablys</title>
  <%= stylesheet_link_tag 	"application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper">
  	<div id="page">
      <%= render 'layouts/header' %>
      <div id="content">
      	<%= yield %>
      </div>
      <%= render 'layouts/footer' %>
    </div>
  </div>
   <div id="backtotop"><a href="#"></a></div>
    <!--Wrapper End-->

    <!-- jQuery Layerslider -->
    <script type="text/javascript">
        jQuery(window).load(function () {
            jQuery('#layerslider.slideritems').layerSlider({
                skinsPath: 'images/layerslider-skins/',
                skin: 'smartgroup',
                autoStart: true
            });
        });
    </script>

    <script type="text/javascript">
        var main_menu = new main_menu.dd("main_menu");
        main_menu.init("main_menu", "menuhover");
    </script>
</body>
</html>

<style type="text/css">
</style>
