<!DOCTYPE html>
<html>
<head>
  <title>Ablys</title>
  <%= stylesheet_link_tag 	"application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper">
  	<div id="page">
      <%= render 'layouts/header' %>
      <div id="content">
      	<div class="inner-part">
				  <form runat="server">
				      <div class="news">
				          <div class="boxfont1 boxheading boxborder ">
				              <h1>Catergories</h1>
				          </div>
				          <div class="boxcotent">
				              <ul>
				                  <li><a href="#">About ABLYS</a></li>
				                  <li><a href="#">About SAMAJ</a></li>
				                  <li><a href="#">Matrimonial</a></li>
				                  <li><a href="#">AEducation</a></li>
				              </ul>                            
				          </div>
				          <div class="boxheading topmargin boxborder boxfont1">
				              <h1>Tell A Friend</h1>
				          </div>
				          <div class="boxcotent">
				              <table class="tabmargin">
				                  <tbody><tr>
				                      <td>Friends E-Mail</td>
				                      
				                  </tr>
				                  <tr>
				                      <td>
				                          <input id="Text3" type="text"></td>
				                  </tr>
				                  <tr>
				                      <td>Your E-Mail</td>  
				                  </tr>
				                  <tr>
				                      <td>
				                          <input id="Text4" type="text"></td>
				                  </tr>
				                  <tr>
				                      <td>
				                          <input id="Button2" type="button" style="width:100%" value="Submit">
				                      </td>
				                  </tr>
				              </tbody></table>
				          </div>
				          <div class="boxcotent topmargin" style="border-top: solid 2px #000000; background-color: #FFF;">
				              <img src="/assets/Donate.jpg" width="196" height="180" alt="Donate">
				              <img src="/assets/DonateButton.png" width="146" height="43" alt="donate" style="margin-top: -40px; margin-left: 25px;">
				          </div>
				      </div>
				      <div class="midd">
				      	<div style="padding: 0 10px;">
				      		<%= yield %>
				      	</div>
				      </div>
				      <div class="rightnews">
				          <div class="boxheading boxborder boxfont1">
				              <h1>Search Bride/Groom</h1>
				          </div>
				          <div class="boxcotent">
				              <table class="tabmargin">
				                  <tbody><tr>
				                      <td>
				                          Looking For:
				                      </td>
				                  </tr>
				                  <tr>
				                      <td>
				                          <select name="sgender">
				                          	<option value="">Select Option</option>
				                          	<option value="Female">Bride </option>
				                          	<option value="Male">Groom</option>
																	</select>
				                      </td>
				                  </tr>
				                  <tr>
				                      <td>
				                          Gotra:
				                      </td>
				                  </tr>
				                  <tr>
				                      <td>
				                          <select name="sgotra">
				                          	<option value="">Select Option</option>
				                          </select>
				                      </td>
				                  </tr>
				                  <tr>
				                      <td>
				                          Select City:
				                      </td>
				                  </tr>
				                  <tr>
				                      <td>
				                      <select name="sdistt">
				                      	<option value="">Select Option</option>
				                      </select>
				                      </td>
				                  </tr>
				                   <tr>
				                      <td>
				                      	Select State:
				                      </td>
				                  </tr>
				                   <tr>
				                      <td>
				                          <select name="sstate">
									                  <option value="">Select Option</option>
									                  <option value="Bihar">Bihar</option>
									                  <option value="Chhattisgarh">Chhattisgarh</option>
									                  <option value="Delhi">Delhi</option>
									                  <option value="Gujarat">Gujarat</option>
									                  <option value="Haryana">Haryana</option>
									                  <option value="Madya Pradesh">Madya pradesh</option>
									                  <option value="Maharashtra">Maharashtra</option>
									                  <option value="Punjab">Punjab</option>
									                  <option value="Rajasthan">Rajasthan</option>
									                  <option value="Uttar Pradesh">Uttar pradesh</option>
									                 </select>
				                      </td>
				                  </tr>
				                  <tr>
				                      <td>
				                          <input type="submit" value="Search" style="width:100%;">
				                      </td>
				                  </tr>
				              </tbody></table> 
				          </div>
				          <div class="boxcotent topmargin" style="border-top: solid 2px #000000;">
				              <img src="/assets/img_Photo_Gallery.jpg" width="196" height="180" alt="Photo">
				          </div>
				          <div class="boxcotent topmargin boxborder">
				              <p class="boxfont">Visitor</p>
				          </div>
				      </div>
				  </form>
				</div>
      </div>
      <%= render 'layouts/footer' %>
    </div>
  </div>
   <div id="backtotop"><a href="#"></a></div>
   <script type="text/javascript">
		  jQuery(window).load(function () {
			  jQuery('#layerslider.slideritems').layerSlider({
			    skinsPath: 'images/layerslider-skins/',
			    skin: 'smartgroup',
			    autoStart: true
			  });
			});


			var main_menu = new main_menu.dd("main_menu");
			main_menu.init("main_menu", "menuhover");
		</script>
</body>
</html>

<style type="text/css">
	.boxcotent select{
		width: 180px !important;
	}
	.boxcotent input{
		width: 168px !important;
	}
</style>
